{% extends 'base.html' %}
{% load i18n %}
{% load l10n %}
{% load pagination_tags %}

{% block extrahead %}
{% endblock %}

{% block content %}
    <h1 class="center">{{ node.name }}</h1>
    {% if data %}
        {% autopaginate data 30 %}
        <table>
            <tr class="cabecera">
                <td>{% trans "Date" %}</td>
                <td>{% trans "Temperature" %}</td>
                <td>{% trans "Humidity" %}</td>
                <td>{% trans "Luminosity" %}</td>
            </tr>
        {% for d in data %}
            <tr>
                <td>{{ d.date|date:"d/m/Y H:i:s" }}</td>
                <td>{{ d.temperature|unlocalize }}</td>
                <td>{{ d.humidity|unlocalize }}</td>
                <td>{{ d.luminosity|unlocalize }}</td>
            </tr>
        {% endfor %}
        </table>
        {% paginate %}
    {% else %}
        <p class="center">{% trans "No data to show." %}</p>
    {% endif %}

{% endblock %}

