{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<title>Winebee, automatización de procesos vinícolas</title>
	<meta name="description" content="Winebee: Automatización de procesos vinícolas">
    <link rel="stylesheet" href="/media/css/base.css" type="text/css">
    {% block extrahead %}
    {% endblock %}
</head>
<body>
	<div class="content">
    	<div class="header">
	        <a href="/"><div class="logo"></div></a>
    	    <div class="title">
    	        <h1>{% trans "Winebee: winemaking process automation" %}</h1>
    	    </div>
	    </div>
	    <div class="graphs">
        	{% block content %}
	        {% endblock %}
	    </div>
	    <p class="footer">Adrián Rodríguez Vargas | Thanks to <a href="http://www.rgraph.net/" target="_blank">RGraph</a> for its wonderful chart library.</p>
	</div>
</body></html>
